<div class="navbar">
  <div class="navbar-left">
    <button class="hamburger" id="hamburger-btn" title="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a href="/admin/dashboard" class="dashboardbutton">CineVillage - Staff Portal</a>
  </div>
  <div class="navbar-right">
    <div class="user-info">
      Welcome, <strong><%= user.username %></strong>
    </div>
    <a href="/logout" class="logout-btn">Logout</a>
  </div>
</div>
