    <div class="sidebar" id="sidebar">
  <button class="close-btn" id="close-btn">&times;</button>
  <nav class="sidebar-nav">
    <h1>Management</h1>
    <a href="/admin/dashboard" class="sidebar-link"><i class="bi bi-speedometer2"></i>  Dashboard </a>
    <a href="/admin/hall-management" class="sidebar-link"><i class="bi bi-building-fill-add"></i>  Hall </a>
    <a href="/admin/movie-management" class="sidebar-link"><i class="bi bi-film"></i>  Movie </a>
    <a href="/admin/screening-management" class="sidebar-link"><i class="bi bi-calendar-event"></i>  Screening </a>
  </nav>
</div>
