.navbar {
  background: #7a2c2c;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar h1 {
  font-size: 24px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-pri {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
.button-pri:hover {
  background: white;
  color: #7a2c2c;
}